[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  bra = branch -a
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[user]
  name = Adam Trepanier
  email = adam.trepanier@gmail.com

[merge]
  keepBackup = false;

[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false

[color]
  status = auto
  diff = auto
  branch = auto

[core]
  excludesfile = ~/.gitignore_global
